<div class="main">


    <div class="container">


            <div class="main-left">

            	<div class="menu-container">

            	<%= react_component("CategoryMenu2", url: "/rest/categories.json", include_header: true) %>

            	</div>

           	</div>

    </div>

</div>