 <div class="main">
  <div class="about-us-page">
    <div class="container">
      <div class="full-width">


          <%= image_tag('avatar.jpg')%>
                                     
     

          <div class="clearfix"></div>





      </div>
    </div>
  </div>
</div>






































<script type="text/javascript">
$('#has-hovercard').hover(
  function(e){
    console.log("tes");
    clearTimeout($('.hovercard').data('timeoutId'));
    position = $(this).position();
    position.top = position.top + 15;
    position.left = position.left;

      //
      /*U can load the data using ajax too*/
      //

      $('.hovercard').show().css(position);
    },
    function(e){
      var someElement = $(this),
      timeoutId = setTimeout(function(){
        $('.hovercard').hide();
      }, 650);
      $('.hovercard').data('timeoutId', timeoutId); 
    });
$('.hovercard').hover(function(){
  clearTimeout($('.hovercard').data('timeoutId'));
},
function(){
  $(this).hide();
});

</script>


