<!DOCTYPE html>
<html>
<head>
  <title>Алдаа гарлаа</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>

  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=cyrillic' rel='stylesheet' type='text/css'>
  <style>
      body{
        height: 100%;
      }
    .page-not-found, .page-not-found-title, .page-not-found-message, .page-not-found-countdown, .page-not-found-countdown span{ 
           font-family: 'Roboto Condensed', sans-serif;
         }
  </style>
  <script type="text/javascript">
    (function () {
        var timeLeft = 5,
            cinterval;

        var timeDec = function (){
            timeLeft--;
            document.getElementById('countdown').innerHTML = timeLeft;
            if(timeLeft === 0){
              clearInterval(cinterval);
              window.location = "/";
            }
        };

        cinterval = setInterval(timeDec, 1000);
    })();
  </script>
</head>

<body>
  <!-- This file lives in public/422.html -->
  <div class="page-not-found">
    <div class="page-not-found-title">#422</div>
    <div class="page-not-found-message">Таны хүсэлтийг биелүүлэх явцад алдаа гарлаа.</div>
    <div class="page-not-found-countdown"><span id="countdown">5</span> секундын дараа нүүр хуудас руу шилжих болно.</div>
  </div>
</body>
</html>
