ul,ol,li,dl,dt,dd{border:0;outline:none;margin:0;padding:0;}
ul{list-style:none;}

/* Vertical Mega Menu Styles */
.mega-menu{
font:normal 13px Arial, sans-serif; 
line-height: 16px; 
background: #fff;
position: relative; /* Required */
}
.mega-menu li a {
display: block; 
color: #666; 
padding: 10px 38px 10px 25px; 
text-decoration: none; 
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
}
.mega-menu li a:hover, .mega-menu li.mega-hover a {
color: #565656;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}
.mega-menu li a.dc-mega {
position: relative;
}
/* Add arrow icon to parent links */
.mega-menu li a .dc-mega-icon {
display: block; 
position: absolute; 
top: 14px; 
right: 15px; 
width: 6px; 
height: 8px; 
background: image-url('arrow_right.png') no-repeat 0 0;
}
/* Mega menu container */
.mega-menu li .sub-container {
position: absolute; /* Required */
background: #fff;
padding:0 0 0 15px; 
border: 1px solid #eee;
border-left: 1px solid #fff;
clear: both;
}
.mega-menu li .sub-container .sub {}

.mega-menu li .sub .row {
width: 100%; overflow: hidden; /* Clear floats */
}
.mega-menu li .sub li {
float: none; 
width: 150px; 
font-size: 12px; 
font-weight: normal;
}
.mega-menu li .sub li.mega-hdr {
float: left; /* Required */
margin: 10px 5px 10px 5px;
padding: 10px;
}
.mega-menu li .sub a, .mega-menu.left li .sub a {
background: none; 
border: none; 
float: none;
color: #565656; 
padding: 7px 10px; 
display: block;
text-decoration: none; 
font-size: 12px;
}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
padding: 5px 5px 5px 15px; 
margin-bottom: 15px; 
text-transform: uppercase; 
font-weight: bold; 
color: #565656; 
}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #000; 
}
.mega-menu .sub li.mega-hdr li a {
padding: 4px 5px 4px 20px; 
background: image-url('arrow_white.png') no-repeat 5px 8px; 
font-weight: normal;
}
.mega-menu .sub li.mega-hdr li a:hover {
color: #0081ff; 
background: #f6f6f6 image-url('arrow_on.png') no-repeat 5px 8px;
}
.mega-menu .sub ul li {
padding-right: 0;
}
/* Styling for menu items with only 2 levels */
.mega-menu li .sub-container.non-mega .sub {
padding: 10px;}
.mega-menu li .sub-container.non-mega li {
padding: 0; 
margin: 0;
width: 150px;
}
.mega-menu li .sub-container.non-mega li a {
padding: 7px 5px 7px 22px; 
background: image-url('arrow_white.png') no-repeat 7px 10px;
}
.mega-menu li .sub-container.non-mega li a:hover {
color: #a32403; 
background: #efefef image-url('arrow_on.png') no-repeat 7px 10px;
}