@charset "utf-8";
/* CSS Document */

html{
  height: 100%;
}

body{
  margin:0;
  padding:0;
  background: #f4f4f4;
  position: relative;
  min-height: 100%;
}



.header_top{
  border-bottom:#e5e5e5 1px solid;
  font-size:12px;
  color:#333;
  background: #fff;
}
.header_top_stat{
  font-size: 12px;
  float:left;
  padding:8px 0 5px 0;
}
.header_top_menu{
  float:right;
  margin-right: 15px;
}
.header_top_menu ul li a{
  padding-top:5px;
  padding-bottom:5px;
}
.header_top_menu ul li{
  border-left: 1px solid #e5e5e5;
}
.header_top_menu_last{
  border-right: 1px solid #e5e5e5;
}
.header_mid{
  width: 100%;
  padding:20px 0;
  float: left;
  background: #fff;
  border-bottom: 1px solid #0081ff;
  z-index: 99999;
}
.header-sticked > .header_mid{
  padding:10px 0 5px 0;
  transition-duration:0.5s;
  z-index: 99999;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
}
.logo{
  float: left;
  height: 28px;
  width: 120px;
  background: image-url('logo.png') no-repeat center center;
  margin-right: 25px;
  margin-top: 5px;
}
.logo-right-category{
  height: 28px;
  width: 105px;
  float: left;
  padding: 10px;
  padding-left: 0;
  font-size: 14px;
}
.header-side-search{
  float: left;
  width: 590px;
  padding: 0 15px;
}
.header-side-search img{
  width: calc(100% - 30px);
  margin-left: 15px;
}
.header-profile{
  float:right;
  width: auto;
  margin-right: 15px;
}
.header-profile-img{
  float: left;
  margin-right: 10px;
}
.header-profile img{
  border:#bebebe 1px solid;
  width: 36px;
  height: 36px;
}
.header-profile-info{
  float: left;
}
.header-profile-name{
  margin-top: -4px;
}
.header-profile-name .btn, .header-profile-name .open .btn-default,  .header-profile-name .open .btn-default:active,
 .header-profile-name .open .btn-default:focus{
  font-weight: bold;
  color:#0081ff;
  font-size:12px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.header-mid{
  z-index: 9999;
}
.header-profile-chat, .header-profile-all-deals, .header-profile-done-deals{
  float: left;
  border-radius: 3px;
  padding: 3px 5px;
  margin:0px 7px 0 0;
  font-weight: bold;
  color:#0081ff;
  font-size:12px;
  cursor:pointer;
}
.header-profile-chat img, .header-profile-all-deals img, .header-profile-done-deals img{
  border:none;
  width: auto;
  height: 12px;
  margin-right: 5px;
  margin-top:-2px;
}
.header_bottom{
  border-bottom: #e5e5e5 1px solid;
  background: #fff;
}
.category_header{
  background: #7f7f7f;
  width: 250px;
  float: left;
  height: 50px;
  padding: 15px 20px;
}
.category_header span{
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  background: image-url('plus.png') right center no-repeat;
  padding-right: 140px;
}
.header-blue{
  float: left;
  width: calc(100% - 250px);
  height: 50px;
  background: #0081ff;
}
.header-search{
  float: left;
  width: calc(100% - 320px);
  padding:8px 15px; 
}
.header-search input{
  border-radius: 0px !important;
  border:2px solid #0025ff;
}
.header-search button{
  background: #0025ff;
  color: #fff;
  border-radius: 0px !important;
  border:2px solid #0025ff;
}
.header-search button span{
  text-shadow:none;
  padding: 2px 0;
}
.header-search button:hover{
  background: #0025ff;
  color: #fff;
  border-radius: 0px !important;
  border:2px solid #0025ff;
}
.header-add-deal{
  float: right;
  padding:8px 15px;
}
.header-add-deal button{
  background:#038c00;
  border:1px solid #038c00;
  border-radius: 0px !important;
  text-transform: uppercase;
  font-size: 11px;
  padding: 8px 15px;
}
.main-left{
  width: 250px;
  float: left;
}
.main-menu{
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-bottom: 15px;
  margin-top: 15px;
}
.left-banner{
  margin-bottom: 15px;
  width: 250px;
  border: 1px solid #c7c7c7;
}
.left-banner img{
  width: 248px;
}
.main-timeline{
  width: calc(100% - 580px);
  margin: 15px;
  float: left;
  background: image-url('timeline_line.png') repeat-y top left 80px;
}
.timeline-content{
  width: 100%;
  margin-bottom: 15px;
}
.timeline-dealer-info{
  width: 60px;
  float: left;
}
.timeline-dealer-img{
  border: 1px solid #dbdbdb;
}
.timeline-dealer-img img{
  width:58px;
}
.timeline-dealer-name{
  font-size: 10px;
  color:#0081ff;
  margin: 5px 0;
  border-bottom: 1px dotted #dbdbdb;
  padding-bottom: 5px;
}
.timeline-dealer-rank-star{
  margin: 5px 0;
}
.timeline-dealer-rank-vote{
  font-size: 10px;
  color:#0081ff;
  margin: 5px 0;
  border-bottom: 1px dotted #dbdbdb;
  padding-bottom: 5px;
}
.timeline-cyrcle{
  float: left;
  height: 24px;
  width: 24px;
  background: image-url('timeline_cyrcle.png') no-repeat center center;
  margin: 12px 0 0 10px;
}
.timeline-deal-item{
  float: left;
  width: calc(100% - 109px);
  margin-left: 15px;
  position: relative;
}
.timeline-deal-item-container{
  border: 1px solid #dbdbdb;
  width: 100%;
  height: 155px;
  padding: 10px;
  background: #fff;
}
.timeline-arrow{
  position: absolute;
  width: 12px;
  height: 20px;
  background: image-url('arrow.png') no-repeat center center;
  margin-left: -11px;
  margin-top: 15px;
}
.timeline-deal-item-detail{
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  margin-bottom: 6px;
}
.timeline-deal-item-img{
  float: left;
  height:85px;
  width: 85px;
  margin-right: 10px;
}
.timeline-deal-item-img img{
  height:85px;
  width: 85px;
}
.timeline-deal-item-title{
  font-weight: bold;
  color:#1d1d1d;
  margin-bottom: 7px;
  padding-top: 5px;
  font-size: 14px;
}
.timeline-deal-item-info{
  color:#616161;
  font-size: 12px;
  line-height: 18px;
  max-height: 35px;
  overflow: hidden;
}
.timeline-deal-item-want{
  overflow: hidden;
  margin-top: 10px;
  word-wrap:break-word;
  max-height: 15px;
  font-size: 12px;
}
.timeline-deal-item-want span{
  font-weight: bold;
  color:#1d1d1d;
}
.timeline-deal-item-want a{
  color:#0025ff;
  text-decoration: none;
}
.timeline-deal-item-bottom-check{
  float: left;
}
.timeline-deal-item-bottom-bids{
  float: left;
  margin-left:10px;
}
.timeline-deal-item-bottom-chat{
  float: right;
  margin-right: 10px;
}
.timeline-deal-item-bottom-bid{
  float: right;
}
.timeline-deal-item-bottom-check .checkbox, .timeline-deal-item-bottom-bids div, .timeline-deal-item-bottom-chat div, .timeline-deal-item-bottom-bid div{
  font-size: 11px !important;
}
.timeline-deal-item-bottom-check .checkbox input{
  margin-top: 0;
}
.timeline-deal-item-bottom-check .checkbox{
  padding-bottom: 0;
}
.timeline-deal-item-bottom-check .checkbox{
  margin-top: 0;
}
.btn-success{
  background: #038c00;
  border: 1px solid #037600;
}
.btn-success:hover{
  background: #026e00;
  border: 1px solid #025e00;
}
.timeline-deal-item-bottom-bid .btn-primary{
  background: #003591;
  border: 1px solid #002f81;
}
.timeline-deal-item-bottom-bid .btn-primary:hover{
  background: #002f81;
  border: 1px solid #00276c;
}
.special .timeline-deal-item-container{
  background: #fff9eb;
}
.special .timeline-arrow{
  background: image-url('special_arrow.png') no-repeat center center;
}
.timeline-badget{
  height: 77px;
  width: 77px;
  position: absolute;
  right: -6px;
  top:-6px;  
}
.special-badget{
  background: image-url('special_badget.png') no-repeat center center;
}
.free-badget{
  background: image-url('free-badget-mini.png') no-repeat center center;
}
.timeline-deal-item-bids-items{
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0px;
  border-top: 0;
  background: #f8f8f8;
  padding:10px;
}





  .timeline-user-info-tooltip{
    position: absolute;
    background: #fff;
    width: 365px;
    height: 145px;
    padding: 10px;
    z-index: 9999;
    border: 1px solid #dbdbdb;
    margin-top: -175px;
    margin-left: 0px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  }
  .timeline-user-info-tooltip:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(240, 240, 240, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -15px;
  }

  .timeline-dealer-info-img{
    float: left;
    height: 125px;
    width: 125px;
    margin-right: 10px;
  }
  .timeline-dealer-info-img img{
    width: 123px;
    height: 123px;
    border: 1px solid #dbdbdb;
  }
  .timeline-dealer-info-other{
    float: left;
    width: 205px;
    height: 118px;
    margin-top: 5px;
  }
  .timeline-dealer-info-name a{
    font-size: 14px;
    font-weight: bold;
    color:#000;
  }
  .timeline-dealer-info-name{
    padding-bottom: 5px;
    border-bottom:1px solid #dbdbdb; 
  }
  .timeline-dealer-info-rank{
    margin-top: 5px;
  }
  .timeline-dealer-info-rank table tr td{
    padding:0 0 10px 0;
  }
  .timeline-dealer-info-rank span{
    font-size: 11px;
    color:#0081ff;
  }
  .timeline-dealer-info-rank img{
    margin-top: 5px;
  }
  .count-rank-people{
    color: #0081ff;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 15px;
    background: image-url('icon-people.png') no-repeat right 20px center;
  }
  .count-all-deals{
    color: #0081ff;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 18px;
    background: image-url('tag-icon.png') no-repeat left center;
  }
  .count-done-deals{
    color: #0081ff;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 15px;
    background: image-url('deals-icon.png') no-repeat right 20px center;
  }
  .timeline-deal-item-bids-left-arrow{
    margin-left: -5px;
    height: 70px;
    width: 38px;
    background: image-url('left_arrow_15.png') no-repeat center center;
    float: left;
  }
  .timeline-deal-item-bids-left-arrow:hover{
    background: image-url('left_arrow_35.png') no-repeat center center;
    cursor: pointer;
  }
  .timeline-deal-item-bids-right-arrow{
    margin-right: -5px;
    height: 70px;
    width: 38px;
    background: image-url('right_arrow_15.png') no-repeat center center;
    float: right;
  }
  .timeline-deal-item-bids-right-arrow:hover{
    background: image-url('right_arrow_35.png') no-repeat center center;
    cursor: pointer;
  }
  .timeline-deal-item-bids-item{
    float: left;
    height: 70px;
    margin: 0 5px;

  }
  .timeline-deal-item-bids-item img{
    height: 68px;
    width: 68px;
    border: 1px solid #dbdbdb;
  }
  .main-right{
    width: 300px;
    float: right;
    margin-top: 15px;
  }
  .item-list-items{
    width: 100%;
    min-width: 150px;
    background: #fff;
    border:1px solid #dbdbdb;
    padding:10px;
    margin-bottom: 15px;
  }
  .home-module-title{
    color:#0081ff;
    border-bottom: 1px solid #0081ff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top:5px; 
  }
  .item-list-item{
    width: 100%;
    border-bottom: 1px dotted #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .item-list-item-img{
    height: 60px;
    width: 60px;
    position: relative;
    float: left;
    margin-right: 10px;
  }
  .item-list-item-img .item-list-item-badget{
    position: absolute;
    height: 45px;
    width: 45px;
    background: image-url('free-badget-mini.png') center center no-repeat;
    right: -3px;
    top: -3px;
  }
  .item-list-item-img img{
    height: 60px;
    width: 60px;
    border: 1px solid #dbdbdb;
  }
  .title-1{
    color:#0081ff;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .info-1{
    color:#7e7d7d;
    font-size: 11px;
    line-height: 18px;
    height: 35px;
    overflow: hidden;
  }
  .main-menu-header{
    color:#0081ff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    border-bottom: 1px dotted #0081ff;
    margin-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .add-deal-page{
    float: left;
    width: calc(100% - 315px);
    background: #fff;
    border:1px solid #dbdbdb;
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .deal-full-detail-page{
    width: 100%;
    background: #fff;
    border:1px solid #dbdbdb;
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .deal-full-detail-page-container{
    width: calc(100% - 315px);
    float: left;
  }
  .big-title{
    font-size:16px;
    font-weight:normal;
    margin-bottom: 20px;
  }
  select.auto_width{
    width: auto;
  }
  .padding_left_delete{
    padding-left: 0;
  }
  .padding_right_delete{
    padding-right: 0;
  }
  input, select, textarea{
    border-radius: 0 !important;
  }
  .add-deal-add-pictures{
    border: 1px solid #dbdbdb;
    padding: 10px;
    margin-bottom: 10px;
  }
  .add-deal-add-pic-button{
    float: left;
    height: 120px;
    width: 125px;
    background: image-url('add_picture_button.png') #eee no-repeat center center;
  }
  .add-deal-add-pictures img{
    height: 120px;
    width: 120px;
    float: left;
    margin-right: 10px;
  }
  .add-deal-add-pictures .preview img{
    width: auto;
    height: auto;
  }
  .half-width{
    width: 50%;
  }
  .sub-title{
    font-size: 14px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: normal;
    color:#666;
    margin-top: 20px;
  }
  label a{
    font-size: 11px;
  }
  .hairly-line{
    clear:both;
    border-bottom: 1px solid #eee;
    margin-bottom:10px;
    margin-top: 10px;
  }
  .add-deal-button-container{
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-success{
    background: #038c00;
  }
  #mega-1, #mega-11, #mega-111, #mega-1111{
    margin-bottom:10px; 
  }
  .right-banner{
    width: 300px;

  }
  .right-banner img{
    width: 300px;
    margin-bottom: 15px;
  }

  .hover {
    position:relative;
  }

  .tooltip {
    top:0px;
    opacity:0;
    visibility: hidden;
    position:absolute;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;

  }

  .hover:hover .tooltip {
    top:20px;
    opacity:1;
    visibility: visible;
  }

  .full-detail-images{
    width: 50%;
    float: left;
  }
  .full-detail-images img{
    width: 100%;
    border: 1px solid #eee;
  }
  .breadcrumb-container{
    background: #fff;
    width: 100%;
    border-bottom:1px solid #dbdbdb;
  }
  .breadcrumb-container .breadcrumb{
    margin: 0;
    background: none;
    padding: 10px 0;
  }
  .full-detail-title{
    font-size: 20px;
    color:#111;
    font-weight: bold;
    line-height: 28px;
    width: 100%;
  }
  .full-detail-short-info{
    float: right;
    width: 50%;
    padding-left: 20px;
    padding-right: 10px;
  }
  .full-detail-watchers{
    width: 100%;
    font-size: 12px;
    color:#0081ff;
    padding:5px 0;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px; 
  }
  .full-detail-rate{
    float: right;
  }
  .full-detail-rate img{
    margin-top: -3px;
    margin-right: 3px;
  }
  .full-detail-rate span{
    vertical-align: middle;
  }
  .full-detail-short-wanted{
    margin-top: 5px;
  }
  .full-detail-short-wanted div a{
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
  }
  .full-detail-short-information{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .full-detail-short-description-intro{
    margin-top: 5px;
    font-size: 12px;
  }
  .readmore-1{
    font-size: 12px;
  }
  .full-detail-short-deals-intro-items{
    margin-top: 10px;
    font-size: 12px;
  }
  .full-detail-short-deals-intro-items img{
    margin-bottom: 10px;
    margin-right: 10px;
    height: 60px;
    width: 60px;
    border: 1px solid #dbdbdb;
    float: left;
  }
  .full-detail-deal-buttons .btn-primary, .full-detail-deal-buttons .btn-success{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
  }
  .full-detail-image-thumb img{
    float: left;
    width: 17%;
    margin: 10px 10px 10px 0;
  }
  .full-detail-image-thumb .active img{
    border: 1px solid #1c8fff;
  }
  .full-detail-full{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .full-detail-full-title{
    font-size: 16px;
    color:#0081ff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .full-detail-description{
    font-size: 12px;
    line-height: 20px;
  }
  .full-detail-description p{
    margin-top: 5px;
    padding:0 10px;
  }
  .full-detail-spec{
    font-size: 14px;
    margin-top: 20px;
  }
  .full-detail-spec-table{
    width: 95%;
    margin: 10px;
  }
  .full-detail-spec-table tr td{
    padding:5px;
    font-size: 12px;
  }





.menu-container{
  position: relative;
}
.main-menu{
font:normal 13px Arial, sans-serif; 
line-height: 16px; 
background: #fff;
position: relative; /* Required */
height: 460px;
max-width: 300px;
}
.main-menu li a {
display: block; 
color: #666; 
padding: 10px 38px 10px 25px; 
text-decoration: none; 
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
position: relative;
}
.main-menu li a:hover, .mega-menu li.mega-hover a,.main-menu li.active a{
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
background: #f7f7f7;
color:#000;
}
/* Add arrow icon to parent links */
.main-menu li a .dc-mega-icon{
display: block; 
position: absolute; 
top: 14px; 
right: 15px; 
width: 6px; 
height: 8px; 
background: image-url('arrow_right.png') no-repeat 0 0;
}
.sub-menu{
  position: absolute;
  top:0;
  left:249px;
  padding: 15px;
  height: 460px;
  width: 572px;
  background: #fff;
  border: 1px solid #eee;
  border-left: 1px solid #eee;
  z-index: 99990;
}
.logo-right-category .main-menu,.logo-right-category .sub-menu{
  height: 420px;
}
.sub-menu ul li{
  width: 170px;
  margin-right: 10px;
  float: left;
}
.sub-menu ul li a{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sub-menu ul li ul a:hover{
  text-decoration:none;
}
.sub-menu ul li ul li{
  float: none;
  list-style: none;
  line-height: 22px;
  margin-left: 5px;
}
.sub-menu  ul li ul{
  margin-bottom: 15px;
}
.sub-menu ul li ul li a{
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  color:#666;
  padding-left: 13px;
}
.sub-menu ul li ul li a:hover{
  background:image-url('arrow_on.png') no-repeat left center;
  color:#337ab7;
}

.menu-container ul, .menu-container ol,.menu-container li,.menu-container dl,.menu-container dt,.menu-container dd{border:0;outline:none;margin:0;padding:0;}
.menu-container ul{list-style:none;}



.full-detail-user-information{
    width: 100%;
    min-width: 150px;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 10px;
    margin-bottom: 15px;
}
.full-detail-user-info-short{
  width: 100%;
}
.full-detail-user-info-img{
  float: left;
  margin-right: 10px;
}
.full-detail-user-info-img img{
  width: 55px;
  border: 1px solid #dbdbdb;
}
.full-detail-user-info-name{
  margin-top: 5px;
}
.full-detail-user-info-name a{
  font-weight: bold;
  font-size: 12px;
  color:#0081ff;
}
.full-detail-user-info-rate{
  font-size: 11px;
  color:#0081ff;
  margin-top: 3px;
}
.full-detail-user-info-raters{
  margin-top: 3px;
}
.full-detail-user-info-deals{
  font-size: 11px;
  color:#666;
  text-align: left;
}
.full-detail-user-info-deals-reg{
  padding-left: 10px; 
}
.full-detail-user-info-deals-all-deal{
  margin-top: 8px;
  padding-left: 10px;
}
.full-detail-user-info-deals-done-deal{
  margin-top: 8px;
  padding-left: 10px;
}
.full-detail-user-info-deals-active-deal{
  margin-top: 8px;
  padding-left: 10px;
}
.full-detail-user-info-deals-phone{
  margin-top: 8px;
  padding-left: 10px;
}
.full-detail-user-info-deals-email{
  margin-top: 8px;
  padding-left: 10px;
}
.full-detail-user-info-deals .glyphicon{
  font-size: 12px;
  color:#9d9d9d;
  margin-right: 8px;
}
.full-detail-bid-item{
  margin-top: 10px;
  width: calc(50% - 10px);
  border: 1px solid #dbdbdb;
  padding: 10px;
  float: left;
  margin-right: 10px;
}
.full-detail-bid-user{
  padding-bottom: 2px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  margin-top: -3px;
}
.full-detail-bid-user a{
  font-size: 11px;
  color:#999;
}
.full-detail-bid-item-detail{
  float: left;
  width: 70%;
}
.full-detail-bid-item-detail-title a{
  font-size: 14px;
  color:#333;
  font-weight: bold;
}
.full-detail-bid-item-detail-img{
  width: 30%;
  float: left;
}
.full-detail-bid-item-detail-img img{
  width: 100%;
  padding-right: 10px;
}
.full-detaul-bid-item-detail-description{
  font-size: 11px;
  color:#333;
}

  .upload-photo{
    cursor: pointer;
    float: left;
    height: 120px;
    width: 125px;
    background: image-url('add_picture_button.png') #eee no-repeat center center;
  }
  .upload-photo input{
    cursor: pointer;
    display: block !important;
    width: 125px !important;
    height: 120px !important;
    opacity: 0 !important;
    overflow: hidden !important;
  }
  .add-photo{
    cursor: pointer;
    float: left;
    height: 120px;
    width: 125px;
    background: image-url('add_picture_upload.png') #eee no-repeat center center;
  }
  .add-photo input{
    cursor: pointer;
    display: block !important;
    width: 125px !important;
    height: 120px !important;
    opacity: 0 !important;
    overflow: hidden !important;
  }
  .crop-pic {
    margin-top: 10px;
  }
  .crop-pic img{
    max-width: 750px;
    width: auto;
    height: auto;
  }
  .progress-photo{
    float: left;
    height: 120px;
    width: 125px;
    background: image-url('loader.gif') #eee no-repeat center center;
    padding: 10px;
  }
  .deal-full-similar-items{
    width: 100%;
  }
  .deal-full-similar-item{
    width: 190px;
    margin-right: 10px;
    padding:10px;
    border: 1px solid #eee;
    float: left; 
  }
  .deal-full-similar-item-img img{
    width: 100%;
    margin-bottom: 5px;
    height: 170px;
  }
  .deal-full-similar-item-name a{
    font-size: 14px;
  }
  .deal-full-similar-item-user{
    margin-top: -3px;
    margin-bottom: 3px;
  }
  .deal-full-similar-item-user a{
    font-size: 11px;
    color:#666;
  }
  .deal-full-similar-item-discription{
    font-size: 11px;
    color: #333;
  }
  .similar-items{
    position: relative;
  }
  .similar-arrow-right{
    background: image-url('arrow-right.png') no-repeat center center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10px;
    top:160px;
    cursor: pointer;
    opacity: 0.5;
  }
  .similar-arrow-left{
    background: image-url('arrow-left.png') no-repeat center center;
    height: 30px;
    width: 30px;
    position: absolute;
    left: -10px;
    top:160px;
    cursor: pointer;
    opacity: 0.5;
  }
  .similar-arrow-left:hover, .similar-arrow-right:hover{
    opacity: 0.9;
  }
  .footer{
    border-top: 1px solid #dbdbdb;
    background: #fff;
    padding-top: 10px;
    min-height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  .links{
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  .links a{
    font-size: 12px;
    color:#666;
    margin-right: 15px;
  }
  .links a:hover{
    color:#333;
  }
  .footer-tm{
    background: image-url('logo-footer.png') no-repeat center bottom;
    padding-bottom: 35px;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color:#666;
    margin-bottom: 20px;
  }
  .main{
    min-height: 100%;
    padding-bottom: 120px;
    position: relative;
  }
  .main:after {
  content: "";
  display: block;
  height: 100%;
}
.profile-left{
  width: 300px;
  min-height: 150px;
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
}
.profile-img{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile-img img{
  width: 70%;
  border-radius: 50%;
}
.profile-name{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color:#333;
}
.profile-rank{
  text-align: center;
  font-size: 12px;
  margin:10px 0;
}
.profile-rank img{
  margin-bottom: 5px;
}
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 3px;
    height: 3px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('rank-star.png') 0 -16px;
}
.profile-right{
  width: calc( 100% - 315px);
  min-height: 150px;
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  float: right;
  margin-left: 15px;
}
.badge{
  float: right;
}
.profile-user-deals{
  width: 32%;
  border:1px solid #eee;
  padding:10px; 
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile-user-deals-img img{
  width: 100%;
  margin-bottom: 10px;
}
.profile-user-deals-name a{
  font-size: 14px;
  font-weight: bold;
}
.profile-user-deals-information{
  font-size: 12px;
  margin-top: 5px;
  color:#666;
}
.profile-user-deals .btn{
  font-size: 11px;
  padding: 3px 6px;
}
.bs-callout {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #337ab7;
    position: relative;
}
.bid-accept-button{
  position: absolute;
  right: 10px;
  top:10px;
}
.add-page-success{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
}
.added-picture{
  position: relative;
  height: 120px;
  width: 120px;
  float: left;
  margin-right: 10px;
}
.delete-button-img{
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 5px 8px 3px 8px;
  font-size: 12px;
  color: #000;
  border-radius: 3px;
  transition:.5s;
  opacity: 0.3;
}
.delete-button-img:hover{
  transition:.5s;
  background-color:red;
  color:white;
  cursor: pointer;
  opacity: 1;
}
.delete-button-img:hover span{  
  transition:.5s;
  transform: rotate(360deg);
  color:#fff;
}
.delete-button-img:active{
  background-color:#8B0000;
  color:white;
  cursor: pointer;
  transition:.2s;
}
.prev-contact-info{
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  width: auto;
  margin-bottom: 20px;
  color:#337ab7;
  border-radius: 3px;
  font-size: 12px;
  line-height: 22px;
  margin-right: 10px;
}
.prev-contact-info:hover{
  cursor: pointer;
  border: 1px solid #337ab7;
}
.title_information{
  font-size: 12px;
  color:#666;
  margin-bottom: 10px;
}
.right-deal-item{
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .right-deal-item:hover{
    border: 1px solid #337ab7;
  }
  .right-deal-item-img{
    height: 60px;
    width: 60px;
    position: relative;
    float: left;
    margin-right: 10px;
  }
  .right-deal-item-img img{
    height: 60px;
    width: 60px;
    border: 1px solid #dbdbdb;
  }

  .modal-dialog{
    margin-top: 80px;
  }

.fadeInOut-enter {
  opacity: 0.01;
}

.fadeInOut-enter.fadeInOut-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fadeInOut-leave {
  opacity: 1;
}

.fadeInOut-leave.fadeInOut-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.slideleft-enter {
  margin-left: -5px;
}

.slideleft-enter.slideleft-enter-active {
  margin-left: 0px;
  transition: all 300ms ease-out;
}


.static-rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
  display: inline-block; 
}
.static-rating span {
  color: #ccc; 
}
.static-rating span.is-active {
  color: #FFC300 !important; 
}