<p>Deal.mn сайтад тавтай морилно уу <%= @email %>!</p>

<p>Та доорхи линк дээр дарснаар бүртгэлээ баталгаажуулах болно.</p>

<p><%= link_to 'Бүртгэл баталгаажуулах', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
