<p>Сайн байна уу <%= @resource.email %>!</p>

<p>Та deal.mn сайтад нэвтрэх нууц үгээ солих хүсэлт илгээсэн байна. Доорх линк дээр дарж нууц үгээ солино уу</p>

<p><%= link_to 'Нууц үг солих', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Хэрвээ та энэхүү хүсэлтийг илгээгээгүй бол ямар нэг үйлдэл хийх шаардлагагүй.</p>
<p>Дээрх линкээр орж нууц үгээ солих хүртэл таны нууц үг өөрчлөгдөхгүй болно.</p>